@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "League Spartan", sans-serif;
}

.pattern {
  user-select: none;
  width: 140px;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 40px;
}

.primary-btn {
  background: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 17px;
  line-height: 94%;
  letter-spacing: 0.15em;
  color: #fff;
  padding: 25px 55px;
  border: 2px solid #ffffff98;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  &:hover {
    color: #111;
    background: #fff;
  }
}

.section-content {
  max-width: 445px;

  img {
    margin-bottom: 58px;
  }
  h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #242b37;
    margin-bottom: 27px;
    max-width: 80%;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #242b37;
  }
}

.header {
  background-image: url("/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  .container {
    padding-top: 65px;
    .logo {
      margin-bottom: 153px;
      display: inline-block;
    }

    .header-content {
      max-width: 507px;
      h2 {
        font-weight: 300;
        font-size: 80px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #fff;
        margin-bottom: 10px;
      }
      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #fff;
        margin-bottom: 40px;
      }
      button {
        margin-bottom: 158px;
      }
    }
  }
}

.enjoyable-section {
  background-image: url(/images/bg-pattern.png);
  background-repeat: no-repeat;
  background-position-y: 70%;
  transform: translateY(-70px);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.locally-section {
  background-image: url(/images/bg-pattern-right.png);
  background-repeat: no-repeat;
  background-position: right 80%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .locally-picture {
      position: relative;
      .pattern {
        position: absolute;
        top: 282px;
        right: -120px;
      }
    }
  }
}

.highlights-section {
  background: #111;
  padding: 200px 0 120px;
  transform: translateY(-80px);
  position: relative;
  z-index: -1;

  .container {
    display: flex;
    justify-content: space-between;
    max-height: 441px;
    .highlights-content {
      h2,
      p {
        color: #fff;
        max-width: 100%;
      }
    }

    .cards {
      display: flex;
      flex-direction: column;
      height: 100%;
      max-width: 540px;
      padding-top: 60px;

      .card {
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        margin-bottom: 24px;
        gap: 62px;
        padding-bottom: 24px;

        .card-picture {
          position: relative;
          img:first-child {
            max-width: 128px;
            max-height: 96px;
          }
          .pattern {
            position: absolute;
            z-index: -1;
            right: -25px;
            top: 10px;
          }
        }

        .card-content {
          padding-top: 8px;
          h3 {
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: -0.01em;
            color: #fff;
            margin-bottom: 6px;
          }
          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 162%;
            color: #fff;
            opacity: 0.8;
          }
        }
      }
      .card:last-child {
        border-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}

.gatherings-section {
  background-image: url("/images/bg-pattern.png");
  background-repeat: no-repeat;
  transform: translateY(-80px);
  padding-top: 160px;
  background-position-x: -250px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .gatherings-picture {
      position: relative;

      .pattern {
        position: absolute;
        left: -40px;
        top: -38px;
      }
    }

    .gatherings-content {
      max-width: 445px;
      h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #242b37;
        margin-bottom: 19px;
      }
      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #242b37;
        margin-bottom: 60px;
      }
      button {
        background: #000;
        margin-bottom: 79px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        li {
          font-weight: 600;
          font-size: 17px;
          line-height: 165%;
          letter-spacing: 0.15em;
          color: #4c4c4c;
          opacity: 0.5;
        }
        .active {
          opacity: 1;
          position: relative;
          // &::marker {
          //   content: "--------------------                               ";
          //   color: #9e7f66;
          //   letter-spacing: -2.4px;
          //   position: absolute !important;
          //   margin-left: -50px;
          // }

          &::before {
            content: "";
            position: absolute;
            width: 95px;
            height: 1px;
            background: #9e7f66;
            left: -130px;
            top: 10px;

            z-index: -1;
          }
        }
      }
    }
  }
}

.reservation-section {
  background-image: url("/images/reservation-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .container {
    padding: 95px 40px 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: -0.01em;
      color: #fff;
    }
  }
}

.footer {
  background: #111111;
  .container {
    padding: 78px 40px;
    display: flex;
    justify-content: space-between;
    .information{
      max-width: 914px;
      justify-content: space-between;
      display: flex;
      gap: 124px;
    }
    ul {
      padding-right: 40px;
      li {
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: #fff;
      }
    }
  }
}
@media (max-width: 1355px) {
  .container {
    max-width: 737px;
    margin: 0 auto;
    padding: 0 24px;
  }

  .primary-btn {
    background: transparent;
    font-family: inherit;
    font-weight: 600;
    font-size: 17px;
    line-height: 94%;
    letter-spacing: 0.15em;
    color: #fff;
    padding: 25px 55px;
    border: 2px solid #ffffff98;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    &:hover {
      color: #111;
      background: #fff;
    }
  }

  .section-content {
    max-width: 457px;

    img {
      margin-bottom: 0px;
      display: block;
      z-index: 1;
      top: -20px;
      
    }
    .pattern{
      max-width: 140px;
      img{
        margin-bottom: 0px;
      }
    }
    h2 {
      font-family: League Spartan;
      font-size: 48px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -0.5px;
      text-align: center;

      text-align: center;
      width: 100%;
      max-width: 407px;
    }
    p {
      font-family: League Spartan;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
    }
  }

  .header {
    background-image: url("/images/table-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
background-position:center;
    min-height: 100vh;
    .container {
      padding-top: 400px;
      .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 38px;
      }

      .header-content {
        width: 100%;
        max-width: 669px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          font-family: League Spartan;
          font-size: 48px;
          font-weight: 300;
          line-height: 64px;
          letter-spacing: -0.6000000238418579px;
          text-align: center;

          text-align: center;
          margin-bottom: 20px;
        }
        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 150%;
          color: #fff;
          margin-bottom: 40px;
          text-align: center;
          max-width: 573px;
          margin-bottom: 52px;
        }
        button {
          margin-bottom: 216px;
        }
      }
    }
  }

  .enjoyable-section {
    background-image: url(/images/bg-pattern.png);
    background-repeat: no-repeat;
    background-position-y: 70%;
    transform: translateY(-70px);
    .container {
      max-width: 621px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      .enjoyable-picture{
        img {
          margin-bottom: 56px;
          width: 573px;
          height: 360px;
        }
      }
  
      .enjoyable-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .pattern{
          img{
            margin-bottom: 42px;
          }
        }
      }
    }
  }

  .locally-section {
    background-image: url(/images/bg-pattern-right.png);
    background-repeat: no-repeat;
    background-position: right 80%;
    margin-bottom: 118px;
    .container {
      max-width: 621px;
      display: flex;
      .locally-content{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .pattern{
        display: flex;
        justify-content: center ;
        max-width: 140px;
        overflow: hidden;
        left: 500px ;
        img{
          max-width: 140px;
        }
      }
      align-items: center;
      flex-direction: column-reverse;
      .locally-picture {
        position: relative;
        .meal-img {
          width: 573px;
          height: 360px;
          margin-bottom: 56px;
        }
      
      }
    }
  }

  .highlights-section {
    background: #111;
    padding: 96px 0;
    transform: translateY(-80px);
    position: relative;
    z-index: -1;
    min-height: 861px;
    .container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      max-width: 573px;
      align-items: center;
      .highlights-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 445px;
        .pattern{
          margin-bottom: 56px;
        }
        h2,
        p {
          color: #fff;
          max-width: 100%;
        }
      }

      .cards {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 540px;
        padding-top: 60px;

        .card {
          display: flex;
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          margin-bottom: 24px;
          gap: 62px;
          padding-bottom: 24px;

          .card-picture {
            position: relative;
            img:first-child {
              max-width: 128px;
              max-height: 96px;
            }
          }

          .card-content {
            padding-top: 8px;
            h3 {
              font-weight: 700;
              font-size: 20px;
              line-height: 120%;
              letter-spacing: -0.01em;
              color: #fff;
              margin-bottom: 6px;
            }
            p {
              font-weight: 400;
              font-size: 16px;
              line-height: 162%;
              color: #fff;
              opacity: 0.8;
            }
          }
        }
        .card:last-child {
          border-bottom: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  .gatherings-section {
    background-image: url("/images/bg-pattern.png");
    background-repeat: no-repeat;
    transform: translateY(-80px);
    padding-top: 160px;
    background-position-x: -250px;
    ul {
      width: 100%;
      max-width: 689px;
      display: flex;
     flex-direction: row;
      gap: 12px;
      order: 2;
      justify-content: space-between;
      li {
        font-family: League Spartan;
        font-size: 17px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 2.5px;
        text-align: center;
        
        color: #4c4c4c;
        opacity: 0.5;
      }
      .active {
        opacity: 1;
        position: relative;
        // &::marker {
        //   content: "--------------------`````````````````````````````-";
        //   color: #9e7f66;
        //   letter-spacing: -2.4px;
        //   position: absolute !important;
        //   margin-left: -50px;
        // }

        &::before {
          content: "";
          position: absolute;
          width: 95px;
          height: 1px;
          background: #9e7f66;
          left: -130px;
          top: 10px;

          z-index: -1;
        }
      }
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      
      .gatherings-picture {
        position: relative;
margin-bottom: 57px;
        .pattern {
          position: absolute;
          left: -40px;
          top: -38px;
        }
      }

      .gatherings-content {
        max-width: 445px;
        display: flex;
        flex-direction: column;
        align-items:center;
padding-top: 47px;
        h2 {
          font-weight: 700;
          font-size: 48px;
          line-height: 100%;
          letter-spacing: -0.01em;
          color: #242b37;
          margin-bottom: 19px;
          text-align: center;
        }
        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 150%;
          color: #242b37;
          margin-bottom: 60px;
          text-align: center; 
        }
        button {
          background: #000;
          margin-bottom: 79px;
        }

        ul {
          width: 100%;
          max-width: 689px;
          display: flex;
         flex-direction: row;
          gap: 12px;
          position: absolute;
          top: 800px;
          order: 1;
          margin-bottom: 30px;
          li {
            font-family: League Spartan;
            font-size: 17px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 2.5px;
            text-align: center;
            
            color: #4c4c4c;
            opacity: 0.5;
          }
          .active {
            opacity: 1;
            position: relative;
            // &::marker {
            //   content: "--------------------                               ";
            //   color: #9e7f66;
            //   letter-spacing: -2.4px;
            //   position: absolute !important;
            //   margin-left: -50px;
            // }

            &::before {
              content: "";
              position: absolute;
              width: 95px;
              height: 1px;
              background: #9e7f66;
              left: 47px;
              top: 37px;

              z-index: -1;
            }
          }
        }
      }
    }
  }

  .reservation-section {
    background-image: url("/images/reservation-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .container {
      padding: 72px 40px 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #fff;
        margin-bottom: 24px;
      }
    }
  }

  .footer {
    background: #111111;
    .container {
      padding: 78px 40px;
      display: flex;
      justify-content: space-between;
flex-wrap: wrap;
.information{
  flex-direction: column;
  gap: 32px
  ;
  max-height: 202px;
}
      ul {
        li {
          font-weight: 400;
          font-size: 14px;
          line-height: 200%;
          letter-spacing: 0.14em;
          text-transform: uppercase;
          color: #fff;
        }
      }
    }
  }
}
